@import url('https://fonts.googleapis.com/css2?family=Playfair:wght@300;800&family=Poppins:wght@700&family=Roboto:wght@300&display=swap');

#header{
    position: relative;
    color: white;
}

*{
    box-sizing: border-box;
    margin: 0;
}

.head{
    display: flex;
    align-items: center;
}

.mobile{
    display: none;
}

.desktop{
    display: block;
}

.barIcon{
    color: white;
    font-size: 25px;
    display: none;
    position: absolute;
    top: 40px;
    right: 20px;
}

.head-title{
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 30px;
    left: 20px;
}

.head-links{
    position: absolute;
    color: white;
    top: 40px;
    right: 20px;
    align-items: center;
    text-align: center;    
}

.head-text{
    font-family: 'Playfair', serif;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.head-text h1{
    font-size: 60px;
}

.arrow{
    font-size: 50px;
}

.head-links a{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.head-links a:hover{
    font-family: 'Playfair', serif;
    color: black;
    text-transform: uppercase;
    border: 2px solid white;
    border-radius: 20px;
    background-color: white;
}

.egg-div{
    display: flex;
    width: 100%;
}

.img-egg{
    width: 50%;
}

.text{
    width: 50%;
}

.text-form{
    font-family: 'playfair', sans-serif;
    width: 70%;
    padding: 10%;
    margin: auto;
}

.text-form div{
    background-color: orange;
    border-radius: 10px;
    width: fit-content;
    height: 8px;
    position:fixed ;
}
.learnmore{
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
}

.text-form a{
    font-family: 'Playfair', serif;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.text-form a:hover{
    border-bottom: 5px double orangered;
}

.text-form h3{
    font-family: 'Playfair', serif;
    font-size: 30px;
    font-weight: bolder;
}
.img-cup{
    width: 50%;
}
.cup-div{
    display: flex;
    width: 100%;
}

#cherry-tangerine{
    width: 100%;
    display: flex;
    text-align: center;
    color: rgba(0, 0, 0, 0.884);

}

.cherry-bg{
    width: 50%;
    position: relative;
}

.tangerine-bg{
    width: 50%;
    position: relative;
}

.cherry-text{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    width: 50%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cherry-text h4{
    font-weight: bold;
    font-family: 'Playfair', serif;
    font-size: 25px;
}

.tangerine-text{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    width: 50%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tangerine-text h4{
    font-family: 'Playfair', serif;
    font-size: 25px;
}

#profile{
    width: 90%;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

#profile h4{
    font-family: 'Playfair', serif;
    font-size: 25px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}

.clients-profile{
    width: 100%;
    display: flex;
    text-align: center;
}

.client-segment{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: bold;
    width: 33.33%;
    padding: 2%;
}

.client-info h5{
    font-family: 'Playfair', serif;
    font-size: 20px;
    margin: 0;
}

.client-info p{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
}

.foot-div{
    width: 100%;
    display: flex;
}

.milk-orange{
    width: 50%;
    display: flex;
}

.milk-orange div{
    width: 50%;
}

.cone-cube{
    width: 50%;
    display: flex;
}

.cone-cube div{
    width: 50%;
}

.footer{
    color: rgba(0, 0, 0, 0.7);
    background-color: rgba(144,212,197,255) ;
    position: absolute;
    left:5px;
    right: 5px;
}

.foot-content{
    width: 30%;
    margin: 0 auto;
}

.foot-links div a{
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    text-decoration: none;
    padding: 10px;
}
.foot-links{
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
}
.footer div h3{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: center;
}

.foot-icons{
    margin-top: 20%;
    margin-bottom: 20%;
    text-align: center;
}

.foot-icons a{
    color: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

/* Media Query for Tablets */
@media screen and (max-width: 1060px) {    
    .head-text h1{
        font-size: 40px;
    }
    
    .arrow{
        font-size: 40px;
    }
    
    .text-form{
        width: 80%;
        padding: 2%;
    }
    
    .learnmore{
        font-size: 15px;
        margin-top: 30px;
    }
    
    .text-form h3{
        font-size: 22px;
    }
    
    .cherry-text{
        width: 90%;
        top: 70%;
    }
    
    .tangerine-text{
        width: 90%;
        top: 70%;
    }

    .foot-content{
        width: 40%;
    }
 
}

/* Media Query for Mobile */
@media screen and (max-width:680px){        
    .mobile{
        display: block;
    }
    
    .barIcon{
        color: white;
        font-size: 25px;
        display: block;
        position: absolute;
        top: 40px;
        right: 20px;
    }

    .head-links{
        display: none;
        position: absolute;
        top: 70px;
        color: black;
        background-color: white;
        width: 50%;
        z-index: 2;
    }

    .head-links a{
        display: block;
        color: rgba(0, 0, 0, 0.5);
        padding: 10px;
    }

    .head-links a:hover{
        width: fit-content;
        margin: auto;
        text-transform: uppercase;
        background-color: rgba(251,214,1,255);
    }
    .desktop{
        display: none;
    }
    
    .head-text h1{
        font-size: 60px;
    }
    
    .arrow{
        font-size: 80px;
    }
    
    .egg-div{
        flex-direction: column-reverse;
        width: 100%;
    }
    
    .img-egg{
        width: 100%;
    }
    
    .text{
        width: 100%;
    }
    
    .text-form{
        text-align: center;
        width: 80%;
        padding: 15%;
    }

    .cup-div{
        flex-direction: column;
    }

    .img-cup{
        width: 100%;
    }
    
    #cherry-tangerine{
        flex-direction: column;
    }
    
    .cherry-bg{
        width: 100%;
    }
    
    .tangerine-bg{
        width: 100%;
    }
    
    .cherry-text{
        width: 80%;
        font-size: 16px ;
    }
    
    .tangerine-text{
        width: 80%;
        font-size: 16px ;
    }
    
    #profile h4{
        margin-top: 10%;
    }
    
    .clients-profile{
        flex-direction: column;
    }
    
    .client-segment{
        width: 100%;
        margin-top: 10%;
    }
    
    .foot-div{
        flex-direction: column;
    }
    
    .milk-orange{
        width: 100%;
    }
    
    .cone-cube{
        width: 100%;
    }
    
    .foot-content{
        width: 80%;
    }

    .footer div h3{
        font-size: 30px;
    }

}